table,
th,
td {
  border-collapse: collapse;
  border: 1px solid;
  padding: 0.3em;
}

.mapContainer {
  width: 100%;
  height: 600px;
  color: black;
}

.not-shown-station {
  color: gray;
}

.text-below-similar {
  min-width: 5em;
  font-size: large;
  text-align: center;
  min-height: 3em;
  color: #800a;
  left: -2.5em !important;
  top: 1em !important;
}
