body {
  overflow-wrap: break-word;
  max-width: 80rem;
  margin: 10px auto;
  padding: 0 10px;
  font: 18px/1.5 sans-serif;
  color: #444;
}
h1,
h2,
h3 {
  line-height: 1.2;
}
@media (prefers-color-scheme: dark) {
  body {
    color: #ccc;
    background: #18191a;
  }
  a:link {
    color: #5bf;
  }
  a:visited {
    color: #ccf;
  }
}
